* {
  font-family: "gilroy";
  font-weight: 900;
}
.noteForm {
  padding: 5vh 0;
  width: 50%;
  margin: auto;
}
.signUp {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 10vh 0;
}
.signUp h1 {
  text-align: center;
}
.noteForm h1 {
  text-align: center;
}

.Intro {
  margin: auto;
  text-align: center;
  width: 80vw;
}
.Intro img {
  width: 20vw;
}

.Intro h3 {
  font-size: 5vw;
}
